*.exe
xampp/
/Java/tesNetbean/nbproject/private/
/Java/tesNetbean/build/
/Java/GUIProject/nbproject/private/
/Java/GUIProject/build/
/Java/Database/nbproject/private/
/Java/Database/build/
/Java/PBODatabase/nbproject/private/
/Java/PBODatabase/build/
/Java/Cobagabung/nbproject/private/
/Java/Cobagabung/build/
/Java/Cobagabung/dist/